<!DOCTYPE html>
<html>
<head>
	<title>Notification Center</title>
	<h1>Notification Center</h1>
	<style>
h1 {
  text-align: center;
  font-weight: bold;
  color: DarkBlue;
}

	</style>
</head>
<body>

</body>
</html>



<p>Find me in app/views/notifications/index.html.erb</p>
