<h2>Comments</h2>

<% @challenge.comments.each do |comment| %>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.text %>
  </p>

<% end %>

<% unless current_user.blank? %>

<h2>Add a comment:</h2>

<%= form_for([@challenge, @challenge.comments.build]) do |f| %>
  <p>
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>

<% end %>