<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @friend.full_name %>,</h1>
    <p><% @user.first_name %> wants to be friends on The Challenger.</p>
  </body>
</html>
