<!DOCTYPE html>
<html>
  <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @user.name %>! , your video has been reported</h1>
    <p> Please check your video if there is any inappropriate material in your video.</p>
  </body>
</html>