<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


<h1><%= @user.email %></h1>
<ul>
    <%= content_tag(:li, ("Name: " + @user.full_name)) %>
    <%= content_tag(:li, ("Age: " + @user.age + " old")) unless @user.age.blank? %>
</ul>

</body>
</html> -->
